<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
</head>

<body>
<form method="post">
    <div class="search-wrapper active">
        <div class="input-holder">
            <input type="text" name="seller" placeholder="Seller" value="{{ seller_name }}" class="search-input"  />
            <button class="search-icon"><span></span></button>
        </div>
    </div>
</form>
<div class="table-wrapper" id="users">
    <div class="sort-tab">
        <input class="search" placeholder="Search"/>
            <button class="sort btn btn-info btn-lg" data-sort="name">
                Sort By Name
            </button>
            <button class="sort btn btn-info btn-lg" data-sort="qt_30">
                Sort By 30 days Sell
            </button>
            <button class="sort btn btn-info btn-lg" data-sort="qt_7">
                Sort By 7 days Sell
            </button>
    </div>



    <table class="styled-table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product ID</th>
            <th>Title</th>
            <th>Marcetplace</th>
            <th>Sellername</th>
            <th>Currency</th>
            <th>Price</th>
            <th>Analitycs</th>
            <th>Sale for 30 days</th>
            <th>Sale for 7 days</th>
            <th>Status</th>
        </tr>
        </thead>
        <!-- IMPORTANT, class="list" have to be at tbody -->
        <tbody class="list">

        {% for user in data_res %}
            <tr>
                <td><img src="{{ user.galleryURL }}"></td>
                <td>{{ user.itemId }}</td>
                <td class="name"><a target="_blank" follow="nofollow" href="{{ user.viewItemURL }}">{{ user.title }}</a>
                </td>
                <td>{{ user.globalId }}</td>
                <td>{{ user.storeName }}</td>
                <td>{{ user._currencyId }}</td> <!--    -->
                <td>{{ user.value }}</td>
                <td>
                    <button type="button" id="modalBtn" class="btn btn-info btn-lg" data-toggle="modal"
                            data-target="#chartModal" date_attr='{{ user.qt_res[0].date }}'
                            onclick='getDate(this,{{ user.qt_res[0].quantity }})'>Show
                    </button>
                </td>
                <td class="qt_30">{{ user.qt_res[0].qt_30 }}</td>
                <td class="qt_7">{{ user.qt_res[0].qr_7 }}</td>
                <td>{{ user.active }}</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
<script>
        var options = {
  valueNames: [ 'name', 'qt_30', 'qt_7' ]
};

var userList = new List('users', options);
</script>




    <!-- Modal -->
    <div class="modal fade" id="chartModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">CanvasJS Chart within Bootstrap Modal</h4>
                </div>
                <div class="modal-body">
                    <div id="chartContainer" style="height: 360px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>